<% products.each do |product| %>
  <tr class='item'>
    <td><%= image_tag product.imagen_url(:medium) %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.stock %></td>
    <%#product_add_chart_path(product)%>
    <td><%= link_to '#', remote: true, class: 'btn btn-primary btn-xs' do %>
      <span class="glyphicon glyphicon-credit-card" aria-hidden="true">
      <% end %></td>
  </tr>
<% end %>
